<!DOCTYPE html>
<section>
    <br/>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="carousel slide" id="carousel">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel">
                    </li>
                    <li data-slide-to="1" data-target="#carousel">
                    </li>
                    <li data-slide-to="2" data-target="#carousel">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="carouselImage" alt="Carousel Padel First" src="img/padel1.jpg"/>
                    </div>
                    <div class="item">
                        <img class="carouselImage" alt="Carousel Padel Second" src="img/padel2.jpg"/>
                    </div>
                    <div class="item">
                        <img class="carouselImage" alt="Carousel Padel Third" src="img/padel3.jpg"/>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel" data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                                href="#carousel"
                                                                                data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <h4 id="pageName">
                Padel UPM
            </h4>
            <p class="textCenter">
                El club universitario más dinámico del mundo
            </p>
        </div>
        <div class="col-md-2">
            <img id="mainLogo" alt="ETSISI Main Icon" src="img/etsisi.png" class="img-rounded img-responsive"/>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-1">
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 columnsContainer">
            <div class="col-md-4">
                <h4 class="columnHeader">
                    Clases
                </h4>
                <p class="justify">
                    El conjunto de monitores más cualificados, se encargarán de darte la formación
                    en cuanto a técnica requerida en este deporte. Las clases prácticas te
                    permitirán interiorizar los movimientos adecuados, como si fuesen naturales.
                </p>
                <p class="justify">
                    Las clases colectivas convierten las clases en un espacio dinámico, en el que jugar se
                    convierte en una actividad placentera y divertida.
                </p>
                <br/>
                <img alt="ETSISI Padel Class" src="img/padel4.jpg" class="img-rounded img-responsive"/>
            </div>
            <div class="col-md-4">
                <h4 class="columnHeader">
                    Entrenamientos personalizados
                </h4>
                <p class="justify">
                    Si te sientes un campeón, de verdad lo eres o simplemente quieres avanzar rápidamente
                    en la técnica que rodea a este deporte, te podemos configurar sesiones de entrenamiento a tu
                    medida, con un entrenador personal que se encargará de:
                </p>
                <ul>
                    <li>
                        Enseñarte la técnica adecuada para mejorar tus golpes.
                    </li>
                    <li>
                        Enseñarte a combinar la potencia con la técnica.
                    </li>
                    <li>
                        Mostrarte como mejorar el rendimiento en equipo.
                    </li>
                    <li>
                        Explicarte como utilizar la presión de los campeonatos en tu beneficio.
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="columnHeader">
                    Campeonatos
                </h4>
                <p class="justify">
                    El club organiza campeonatos periódicos en los que te puedes divertir, al mismo tiempo que
                    mejoras en el deporte. Tenemos campeonatos de un día, de fin de semana y ligas regulares.
                    Puedes participar en los torneos masculinos, femeninos y mixtos.
                </p>
                <br/>
                <img alt="ETSISI Padel Class" src="img/padel5.jpg" class="img-rounded img-responsive"/>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <br/>
    <br/>
</section>